@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">


    <h2>Welcome To The Task Assigning Model Project </h2>

    <p class="lead">Login or Register to Continue </p>
    @Html.ActionLink("Login", "Index", "Login")
    <br />
    @Html.ActionLink("Register", "Register", "Login")



</div>
